.info{
    margin: 0 0 34px 16px;
    width: 356px;
    height: 102px;
    padding: 24px;
    background-color: #4B4B4F;
    font-size: 15px;
    text-align: start;
    color: #FFFFFF;
    font-weight: 400;
}