.circle{
    margin-right: 16px;
    width: 24px;
    height: 24px;
    background-color: #EF483E;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
}